<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668108585672-41digann69scvonujorr224e5cu02sp4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668108585672-41digann69scvonujorr224e5cu02sp4</string>
	<key>API_KEY</key>
	<string>AIzaSyCP4O_ihk9dzqPjripq31fj2dhR_1xP-tM</string>
	<key>GCM_SENDER_ID</key>
	<string>668108585672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attech.the24Hour</string>
	<key>PROJECT_ID</key>
	<string>the-24-hour</string>
	<key>STORAGE_BUCKET</key>
	<string>the-24-hour.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668108585672:ios:af27aee6192b2a363b43fd</string>
</dict>
</plist>